---
branches:
  only:
    - main
    - "/^\\d+\\.\\d+\\.\\d+$/"
os: linux
dist: jammy
language: python
python:
  - '3.10'
jobs:
  include:
    - name: Check YAML format
      install:
        - pip install tox
      script:
        - tox -e yamllint
    - name: flake8
      install:
        - pip install tox
      script:
        - tox -e flake8
    - name: checkmigrations
      install:
        - pip install tox
      script:
        - tox -e checkmigrations
    - name: test
      install:
        - pip install tox
      script:
        - tox -e test
    - name: test with custom user model
      install:
        - pip install tox
      script:
        - tox -e test-custom-user-model
    - stage: deploy
      name: deploy
      if: branch =~ /^\d+\.\d+\.\d+$/ AND type == push
      install: skip # skip requirements.txt
      script: skip # skip test scripts
      deploy:
        provider: pypi
        username: "__token__"
        password: ${PYPI_TOKEN}
        on:
          tags: true
